name: Node.js Package

on:
  pull_request:
    types:
      - closed
    branches:
      - 'next'

jobs:
  build-n-publish:
    if: github.event.pull_request.merged == true
    name: "Build & Publish to NPM"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
